appdirs
attrs
bunch==1.0.1
certifi
cfgv
comet-ml
configobj==5.0.6
cycler
cython
dill
distlib
dulwich
everett
filelock
idna
importlib-metadata
jsonschema==3.2.0
kiwisolver
matplotlib
numpy
onnx
packaging
Pillow
ptyprocess
pure-eval
py==1.10.0
pyparsing==2.4.7
pyrsistent
pytest
pytest-cov
python-dateutil
pytz
regex
requests
requests-toolbelt
semantic-version
tensorflow
toml==0.10.2
torch
tqdm
typed-ast
typing_extensions
urllib3
virtualenv
wcwidth
websocket-client
Werkzeug
wrapt
wurlitzer
zipp==3.4.1